.footer-container {
  margin: 10%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.footer-first-column-container {
  font-family: Arial, sans-serif;
}