.product-container {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.product-image {
  width: 50vw;
  height: auto;
}

.product-text-container {
  text-align: center;
  justify-content: center;
  padding: 40px;
}

.product-name {
  font-family: 'Bree Serif', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75;
}

.product-description {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.25;
}

.gray-bar {
  height: 1vh;
  width: 10vw;
  margin: 2vh auto;
  background-color: gray;
}
