.social-container {
  padding: 0;
  margin: 5vh 0;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-template-rows: repeat(1fr, 2);
  gap:0;
}

.social-text-container {
  padding: 0;
  margin: 2vh;
  grid-column: 1/12;
  grid-row:1/2;
}

.social-title {
  font-size: 2em;
  font-weight: '500';
  line-height: 1.75;
  text-shadow: 2px 2px 2px gray;
}

.social-description {
  font-size: 1.5em;
  font-weight: '300';
  line-height: 1.25;
}

.social-images-container {
  padding: 0;
  margin: 0;
  grid-column: 2/11;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45vw;

}

.social-image {
  padding: 0;
  margin: 0;
  width: 15vw;
  height: 15vw;
}