.social-container {
  padding: 0;
  margin: 5vh 0;
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  grid-template-rows: repeat(1fr, 2);
  gap:0;
}

.social-text-container {
  padding: 0;
  margin: 2vh;
  grid-column: 1/12;
  grid-row:1/2;
}

.social-text-container {
  font-family: 'Bree Serif', serif;
  font-weight: '500';
  line-height: 1.75;
}

.social-images-container {
  padding: 0;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33vw;

}

.social-image {
  padding: 0;
  margin: 0;
  width: 9vw;
  height: 9vw;
}